.Rproj.user/
.Rproj.user
.Rhistory
.RData
*.Ruserdata
.Rprofile
.Renviron
.Renviron.*
node_modules

renv/library/
renv/staging/
renv/python/
dist/
build/
out/
R-Portable/
node_modules/

latest.yml
app-update.yml
